# Environment variables
.env
backend/.env

# Virtual Environment
backend/venv/

# Database files
*.db
*.db-journal

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.pem
